<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>matchbox-empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{216,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{216,96}}</string>
                <key>sourceSize</key>
                <string>{218,98}</string>
            </dict>
            <key>matchbox-full.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{216,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{216,96}}</string>
                <key>sourceSize</key>
                <string>{218,98}</string>
            </dict>
            <key>pull1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{212,204}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{212,204}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>pull2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,96},{208,204}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{208,204}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>pull3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{212,204}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{212,204}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>push1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,300},{233,211}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{233,211}}</string>
                <key>sourceSize</key>
                <string>{245,223}</string>
            </dict>
            <key>push2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,511},{223,213}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{223,213}}</string>
                <key>sourceSize</key>
                <string>{245,223}</string>
            </dict>
            <key>push3.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,511},{233,211}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{233,211}}</string>
                <key>sourceSize</key>
                <string>{245,223}</string>
            </dict>
            <key>wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,724},{249,222}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{249,222}}</string>
                <key>sourceSize</key>
                <string>{255,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monkey.png</string>
            <key>size</key>
            <string>{456,946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72a8b6d0bc679cb1cac84c3b30dc874b$</string>
            <key>textureFileName</key>
            <string>monkey.png</string>
        </dict>
    </dict>
</plist>
