<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,99},{140,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,102}}</string>
                <key>sourceSize</key>
                <string>{140,102}</string>
            </dict>
            <key>home_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,99},{140,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,102}}</string>
                <key>sourceSize</key>
                <string>{140,102}</string>
            </dict>
            <key>mute_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,0},{139,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,99}}</string>
                <key>sourceSize</key>
                <string>{139,99}</string>
            </dict>
            <key>mute_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,99},{139,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,99}}</string>
                <key>sourceSize</key>
                <string>{139,99}</string>
            </dict>
            <key>pause_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,99},{518,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,320}}</string>
                <key>sourceSize</key>
                <string>{518,320}</string>
            </dict>
            <key>resume_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{136,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{136,95}}</string>
                <key>sourceSize</key>
                <string>{140,97}</string>
            </dict>
            <key>resume_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{136,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{136,95}}</string>
                <key>sourceSize</key>
                <string>{140,97}</string>
            </dict>
            <key>retry_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{137,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,99}}</string>
                <key>sourceSize</key>
                <string>{137,99}</string>
            </dict>
            <key>retry_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,0},{137,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,99}}</string>
                <key>sourceSize</key>
                <string>{137,99}</string>
            </dict>
            <key>unmute_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,0},{139,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,99}}</string>
                <key>sourceSize</key>
                <string>{139,99}</string>
            </dict>
            <key>unmute_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,0},{139,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,99}}</string>
                <key>sourceSize</key>
                <string>{139,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pauseboard.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e7333bd9038d7b08589af13b897bcc6$</string>
            <key>textureFileName</key>
            <string>pauseboard.png</string>
        </dict>
    </dict>
</plist>
