<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{140,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,102}}</string>
                <key>sourceSize</key>
                <string>{140,102}</string>
            </dict>
            <key>home_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{140,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,102}}</string>
                <key>sourceSize</key>
                <string>{140,102}</string>
            </dict>
            <key>next_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{139,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,98}}</string>
                <key>sourceSize</key>
                <string>{139,98}</string>
            </dict>
            <key>next_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,0},{139,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,98}}</string>
                <key>sourceSize</key>
                <string>{139,98}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,0},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>star_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,0},{49,53}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{49,53}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>success_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{561,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,355}}</string>
                <key>sourceSize</key>
                <string>{561,355}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>successboard.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cd12b40b9248385a48cba995a094052$</string>
            <key>textureFileName</key>
            <string>successboard.png</string>
        </dict>
    </dict>
</plist>
