<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{143,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,190}}</string>
                <key>sourceSize</key>
                <string>{143,190}</string>
            </dict>
            <key>back_menu_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,0},{143,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,190}}</string>
                <key>sourceSize</key>
                <string>{143,190}</string>
            </dict>
            <key>boat.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{692,504}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{692,504}}</string>
                <key>sourceSize</key>
                <string>{700,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>charpter.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed0875c62ecf8f4e41b201a31a190781$</string>
            <key>textureFileName</key>
            <string>charpter.png</string>
        </dict>
    </dict>
</plist>
