<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievement.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{132,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,25}}</string>
                <key>sourceSize</key>
                <string>{132,25}</string>
            </dict>
            <key>credit.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,0},{104,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,39}}</string>
                <key>sourceSize</key>
                <string>{104,39}</string>
            </dict>
            <key>menutree.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,39},{314,396}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{314,396}}</string>
                <key>sourceSize</key>
                <string>{320,400}</string>
            </dict>
            <key>option.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,39},{116,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,34}}</string>
                <key>sourceSize</key>
                <string>{116,34}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,435},{154,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,59}}</string>
                <key>sourceSize</key>
                <string>{154,59}</string>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,435},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>story.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,435},{84,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,37}}</string>
                <key>sourceSize</key>
                <string>{84,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menus.png</string>
            <key>size</key>
            <string>{430,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac8a0b236f87081f0247aeff68240e0d$</string>
            <key>textureFileName</key>
            <string>menus.png</string>
        </dict>
    </dict>
</plist>
