<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>charpter_1_level_10_score</key>
        <string>80</string>
        <key>charpter_1_level_11_score</key>
        <string>90</string>
        <key>charpter_1_level_12_score</key>
        <string>100</string>
        <key>charpter_1_level_13_score</key>
        <string>100</string>
        <key>charpter_1_level_14_score</key>
        <string>100</string>
        <key>charpter_1_level_15_score</key>
        <string>80</string>
        <key>charpter_1_level_1_score</key>
        <string>100</string>
        <key>charpter_1_level_2_score</key>
        <string>40</string>
        <key>charpter_1_level_3_score</key>
        <string>100</string>
        <key>charpter_1_level_4_score</key>
        <string>100</string>
        <key>charpter_1_level_5_score</key>
        <string>100</string>
        <key>charpter_1_level_6_score</key>
        <string>90</string>
        <key>charpter_1_level_7_score</key>
        <string>100</string>
        <key>charpter_1_level_8_score</key>
        <string>100</string>
        <key>charpter_1_level_9_score</key>
        <string>90</string>
        <key>charpter_1_progress</key>
        <string>16</string>
        <key>charpter_2_progress</key>
        <string>1</string>
        <key>charpter_3_progress</key>
        <string>1</string>
        <key>charpter_4_progress</key>
        <string>1</string>
        <key>charpter_5_progress</key>
        <string>1</string>
        <key>charpter_6_progress</key>
        <string>1</string>
        <key>current_charpter</key>
        <string>1</string>
    </dict>
</plist>
